html, body	{ height: 100%; margin: 0; padding: 0; }
body, th, td { color: #000000; font-size:12px; line-height:180%; font-family: ±¼¸², Gulim, Verdana, AppleGothic, Sans-serif; }
a  { color: #7D7D7D; text-decoration: none;}
img	{ border: none; }


h1, h2, h3, h4, h5, h6	{ text-align: left; }
ol,ul,li	{ list-style:none}
input, textarea, select	{ color: #7D7D7D; font-size:12px; line-height: 16px; font-family: µ¸¿ò, Dotum, Verdana, AppleGothic, Sans-serif; }
textarea	{ overflow: auto; padding: 4px; }
/*table	{ border-collapse: collapse; }*/
em	{ font-style: normal;}
hr { display: none;}

#wrap { position :absolute; width : 100%;}
#header{height:60px; /*border-bottom:#fff solid 1px;*/ margin-bottom:1px; background:#0397d6 url(../images/bg_header.gif) no-repeat 0 0}
#header h1{position:absolute; top:15px; left:30px;padding:0x;color:#fff; font-size:22px}
#header h1 a{color:#fff;}
.lnb{position:relative;float:right;top:5px;right:5px; z-index:20}
.lnb span a{ display:inline-block; padding:2px; border:#1bace9 solid 1px;color:#eee; font-family:Tahoma,'µ¸¿ò',Dotum;font-size:11px; height:10px; font-weight:bold; background:#0397d6}
.lnb span a:hover{border:#68ccf7 solid 1px;color:#fff; background:#4bbbeb}
.lnb span.vline{color:#eee}
.lnb span strong a{color:#a9fffe}
.lnb span strong a:hover{color:#fff}
.gnb{position:absolute;height:26px; top:15px; left:230px; width:1044px;}
.gnb li{ float:left}
.gnb a{display:inline-block;height:26px;padding:0;font-family:'µ¸¿ò', dotum;font-size:14px;font-weight:bold;color:#fff;letter-spacing:-1px;background:url(../../../images/bg_menu.gif) no-repeat}
.gnb li a.mn1{width:77px;background-position:0 0}
.gnb li a.mn2{width:100px;background-position:-77px 0}
.gnb li a.mn3{width:130px;background-position:-177px 0}
.gnb li a.mn4{width:132px;background-position:-307px 0}
.gnb li a.mn5{width:155px;background-position:-439px 0}
.gnb li a.mn6{width:131px;background-position:-594px 0}
.gnb li a.mn7{width:131px;background-position:-725px 0}
.gnb li a.mn8{width:101px;background-position:-856px 0}
.gnb li a.mn9{width:86px;background-position:-957px 0}
.gnb li a.mn1:hover{background-position:0 -26px}
.gnb li a.mn2:hover{background-position:-77px -26px}
.gnb li a.mn3:hover{background-position:-177px -26px}
.gnb li a.mn4:hover{background-position:-307px -26px}
.gnb li a.mn5:hover{background-position:-439px -26px}
.gnb li a.mn6:hover{background-position:-594px -26px}
.gnb li a.mn7:hover{background-position:-725px -26px}
.gnb li a.mn8:hover{background-position:-856px -26px}
.gnb li a.mn9:hover{background-position:-957px -26px}
.gnb li.on a.mn1{background-position:0 -26px}
.gnb li.on a.mn2{background-position:-77px -26px}
.gnb li.on a.mn3{background-position:-177px -26px}
.gnb li.on a.mn4{background-position:-307px -26px}
.gnb li.on a.mn5{background-position:-439px -26px}
.gnb li.on a.mn6{background-position:-594px -26px}
.gnb li.on a.mn7{background-position:-725px -26px}
.gnb li.on a.mn8{background-position:-856px -26px}
.gnb li.on a.mn9{background-position:-957px -26px}

.gnb a:hover{color:#33CCFF}
.gnb a span{display:none}
.gnb a span.on{color:#33CCFF}

.gnb li.show{display:inline}
.gnb li.hide{display:none}

#sub { position :absolute; padding-left: 15px ; width: 181px; float:left}

#title { padding-left: 255px; width : 650px; top: 150px; height: 30px; padding-bottom:20px;}
#contents { padding-left: 255px; width : 660px; top: 55px; padding-bottom:25px; padding-top:10px; z-index:999 }
h1 { width : 660px; margin-bottom: -5px;}
h2 { width : 660px;  margin-bottom: -5px; }
h3 { width : 660px;  margin-bottom: -5px; }
h4 { width : 660px;  margin-bottom: -5px; }
ul { width : 660px; margin: 0 0 0 0;}
.contents_text li { width : 635px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; text-align:justify }
.contents_text li.img { width : 635px; font-size:12px; line-height: 18px; color: #999999; text-decoration: none; padding-top:7px; padding-left: 0px;}

/*CssÃß°¡_³ª°æÁÖ*/
#tbsub01 {width:660px;}
ul#tbsub01_text01 {width : 220px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; list-style-type:disc}
ul#tbsub01_text02 {width : 220px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; list-style-type:disc}
ul#tbsub01_text03 {width : 220px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; list-style-type:disc}
ul#tbsub01_text04 {width : 220px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; list-style-type:disc}
ul#tbsub01_text05 {width : 220px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:13px; padding-left: 24px; padding-bottom: 7px; list-style-type:disc}


#tb05_left{ position :relative; width : 240px; height:300px;float:left}
ul#tb05_left_img {width : 230px;}
.tb05_left_img li {width : 230px; font-size:12px; line-height: 18px; color: #999999; height:100px; text-decoration: none; padding-top:13px; padding-left: 14px;}
#tb05_right{position :relative; width : 420px; float:left}
ul#tb05_right_text {width : 410px;}
.tb05_right_text li {width : 410px; font-size:12px; line-height: 180%; color: #999999; text-decoration: none; padding-top:8px; padding-left: 24px; padding-bottom: 7px;} 

#tbsub05 {width:660px;font-size:13px; line-height: 180%; color: #999999; padding-left:24px}
#loginform {width:635px; border-style:solid; border-width:3px; border-color:#efefef; padding-left:24px; padding-top:13px; padding-bottom: 3px;}
#loginform_02 {width:635px; border-bottom-color:#efefef; border-bottom-style:solid; border-bottom-width:3px; border-left-color:#efefef; border-left-style:solid; border-left-width:3px; border-right-color:#efefef; border-right-style:solid; border-right-width:3px;padding-left:24px; padding-top:13px; padding-bottom: 3px;}

#sub { position :absolute; padding-left: 15px ; width: 181px; float:left}

ul#subleftmenu {width: 181px;}
.subleftmenu li { width: 181px; }


#sub02 { position :absolute; width: 181px; float:left}
#sub03 { position :absolute;  width: 181px; float:left}




#footer{ position:relative;border-top:#dedede solid 1px; z-index:999; background:url(../../images/bg_body.gif)}
.foot_logo{position:absolute; left:20px; top:20px;}
address{ margin-left:170px;padding:20px 0;color:#999; text-align:left}
address a{color:#999}
address a:hover{color:#fff}

/*CssÃß°¡_³ª°æÁÖ*/


/*°øÁö»çÇ× ¸ñ·Ï*/
.wrap_list {}
.wrap_list .list {width:675px;}
.wrap_list thead th {border-top:3px solid #c6d9ed; border-bottom:3px solid #c6d9ed; padding:7px 0 6px; background:url('../images/common/line2.gif') no-repeat 0 8px;}
.wrap_list thead th.first {border-left:3px solid #c6d9ed; background:none;}
.wrap_list thead th.last {border-right:3px solid #c6d9ed; }
.wrap_list tbody td {border-bottom:1px solid #ededed; padding:3px 0 3px;}
.wrap_list tbody td.num {text-align:center;}
.wrap_list tbody td.subject { padding-left: 10px;}
.wrap_list tbody td.date {text-align:center;}
.wrap_list tbody td.file {text-align:center;}
.wrap_list tbody td.writer {text-align:center;}
.wrap_list tbody td.hit {text-align:center;}
.wrap_list tbody tr.exp td.subject a:hover { color:#336699; text-decoration:underline;}
.wrap_list a:link, .wrap_list a:visited, .wrap_list a:active { color:#7d7d7d; text-decoration:none;}
.wrap_list a:hover { color:#336699; text-decoration:underline;}
/*ÆäÀÌÁö*/
.wrap_page {padding:10px; font-size:11px; text-align:center;width:675px;}
.wrap_page a:link, .wrap_page a:visited, .wrap_page a:active { color:#7d7d7d; text-decoration:none;}
.wrap_page img {margin:0 1px 2px; vertical-align:middle;}
.wrap_page span {padding:0 4px;}
.wrap_page a:hover { color:#336699; text-decoration:none;}
.wrap_page span.current {font-weight:bold; color:red;}
/*°Ë»ö*/
.wrap_search {width:675px; margin-bottom:12px; padding:17px 0 15px; text-align:center; background:#f5f5f5; border-bottom:1px solid #e0e0e0;}
.wrap_search img {vertical-align:top;}
.wrap_search input {vertical-align:top; border:1px solid #ccc;}

/*°øÁö»çÇ× ÀÐ±â*/
.wrap_view {}
.wrap_view .view {width:675px;}
table.form1 {border-top:2px solid #c6d9ed; margin-bottom:5px; }
table.form1 th {background:#f2f2f2; border-bottom:1px solid #d4d4d4; padding:4px 8px 2px 8px; text-align:center; color:#037fbb; font-size:11px; line-height:16px; width:100px; height:25px;}
table.form1 td {background:#FFF; border-bottom:1px solid #d4d4d4; padding:3px 5px 3px 5px;}
.wrap_button {width:675px; padding:7px 0 0 0; text-align:right;}


/*FAQ*/
.wrap_faq {}
.wrap_faq .faq {width:675px;}
table.form2 {border-top:2px solid #c6d9ed; margin-bottom:5px; border-bottom:2px solid #c6d9ed;}
table.form2 th {background:#f2f2f2; border-bottom:1px solid #d4d4d4; padding:4px 8px 2px 8px; text-align:center; color:#037fbb; font-size:11px; line-height:16px; width:45px; height:25px;}
table.form2 td {background:#FFF; border-bottom:1px solid #d4d4d4; padding:3px 5px 3px 15px;}

/*¹®ÀÇÇÏ±â*/
.wrap_cu {}
.wrap_cu .cu {width:675px;}
table.form3 {border-top:2px solid #c6d9ed; margin-bottom:5px; }
table.form3 th {background:#f2f2f2; border-bottom:1px solid #d4d4d4; padding:4px 8px 2px 8px; text-align:center; color:#037fbb; font-size:11px; line-height:16px; width:150px; height:25px;}
table.form3 td {background:#FFF; border-bottom:1px solid #d4d4d4; padding:3px 5px 3px 15px;}
table.form3 td input {border:1px solid #ccc;}
table.form3 td textarea {border:1px solid #ccc;}
.wrap_button {width:675px; padding:7px 0 0 0; text-align:center;}

/*È¸¿ø°¡ÀÔ*/
.wrap_view {}
.wrap_view .view {width:675px;}
table.form4 {border-top:2px solid #c6d9ed; margin-bottom:5px; }
table.form4 th {background:#f2f2f2; border-bottom:1px solid #d4d4d4; padding:4px 8px 2px 8px; text-align:center; color:#037fbb; font-size:11px; line-height:16px; width:100px; height:25px;}
table.form4 td {background:#FFF; border-bottom:1px solid #d4d4d4; padding:3px 5px 3px 10px;}
table.form4 td img {vertical-align:top; padding-top:1px;}
table.form4 td input {border:1px solid #ccc;}
.wrap_button4 {width:675px; padding:7px 0 0 0; text-align:center;}
.wrap_check {width:675px; padding:2px 0 0 0; text-align:center;}

/* Ãß°¡(ÀÌÁ¤¿ë)   */
.menu_title_text
{
	font-size: 12px;
	color: #000000; 
	font-family: "±¼¸²Ã¼";
}
.menu_title_text_bold
{
	font-size: 12px;
	color: #6666cc; 
	font-family: "±¼¸²Ã¼";
    font-weight: bold;
}

.sub_title {
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: left;
	vertical-align: bottom;
	word-spacing: normal;
}
.data_title {
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	word-spacing: normal;
}
.sub_text{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	word-spacing: normal;
	line-height:160%;
}
.tbl_text{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	color: #666666;
	text-align: justify;
	vertical-align: middle;
	word-spacing: normal;
	line-height:160%;
	padding-left:5px;
}
.tbl_text_bold{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	vertical-align: middle;
	word-spacing: normal;
	line-height:160%;
	padding-left:5px;
}
.tbl_text_bar{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	color: #ffae00;
	vertical-align: middle;
	word-spacing: normal;
}
.sel_num{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	font-weight: bold;
	color: #cc0000;
	vertical-align: middle;
	word-spacing: normal;
}
.num_bold {
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	vertical-align: bottom;
	word-spacing: normal;
	text-align: center;
}
.sel_num_rivnm
{
	font-family: "±¼¸²Ã¼";
	font-size: 12px;
	font-weight: bold;
	color: #ff6600;
	vertical-align: bottom;
	word-spacing: normal;
	text-align: center;
}
.noborder
{
	border-style:none;
}
.ddown
{
	border-right: #c8c8c8 1px solid;
	border-top: #c8c8c8 1px solid;
	font-weight: normal;
	font-size: 12px;
	border-left: #c8c8c8 1px solid;
	color: #666666;
	line-height: 18px;
	border-bottom: #c8c8c8 1px solid;
	font-family: ±¼¸²Ã¼, Verdana;
	background-color: #ffffff;
	text-align: left;
}
.text_alertB {
	font-family: ±¼¸²Ã¼;
	font-size: 12px;
	font-weight: normal;
	color: SteelBlue;
}
.sel_list_sortB {
	font-family: ±¼¸²Ã¼;
	font-weight: bold;
	font-size: 12px;
	color: SteelBlue;
}
